In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Orders.csv")

# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

In [3]:
dfcom=df.groupby('CustomerID')['amount_spent'].sum()
dfcom

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
q95=dfcom.quantile(0.95)
q75=dfcom.quantile(0.75)
lista_95 = df[df["amount_spent"] >q95]
lista_75 = df[(df["amount_spent"] > q75) & (df["amount_spent"] < q95)]
lista_95

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
32732,52711,540815,21108,2011,1,2,12,fairy cake flannel assorted colour,3114,2011-01-11 12:55:00,2.10,15749,United Kingdom,6539.40
37126,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom,77183.60
109624,160546,550461,21108,2011,4,1,13,fairy cake flannel assorted colour,3114,2011-04-18 13:20:00,2.10,15749,United Kingdom,6539.40
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75
155418,222680,556444,22502,2011,6,5,15,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,United Kingdom,38970.00
248706,348325,567423,23243,2011,9,2,11,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,United Kingdom,7144.72
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [5]:
lista_95['Country'].value_counts()

Country
United Kingdom    7
Name: count, dtype: int64

In [6]:
lista_75['Country'].value_counts()

Country
United Kingdom    109
EIRE                4
Singapore           4
Japan               3
Netherlands         2
France              2
Australia           1
Name: count, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [7]:
country75=dfcom.quantile(0.75)
country = df[df["amount_spent"] >country75]
country['Country'].value_counts().head(1)

Country
United Kingdom    116
Name: count, dtype: int64