In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Orders.csv")

# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

In [4]:
dfcom=df.groupby('CustomerID')['amount_spent'].sum()
dfcom

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [20]:
q95=dfcom.quantile(0.95)
q75=dfcom.quantile(0.75)
lista_95 = df[df["amount_spent"] >q95]
lista_75 = df[(df["amount_spent"] > q75) & (df["amount_spent"] < q95)]
lista_75

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Type
10784,16425,537657,82484,2010,12,2,16,wood black board ant white finish,408,2010-12-07 16:42:00,4.78,18102,United Kingdom,1950.24,18102
10786,16427,537657,22189,2010,12,2,16,cream heart card holder,972,2010-12-07 16:42:00,2.31,18102,United Kingdom,2245.32,18102
10787,16428,537657,22188,2010,12,2,16,black heart card holder,972,2010-12-07 16:42:00,2.31,18102,United Kingdom,2245.32,18102
10788,16429,537657,21623,2010,12,2,16,vintage union jack memoboard,408,2010-12-07 16:42:00,6.38,18102,United Kingdom,2603.04,18102
10794,16435,537659,22189,2010,12,2,16,cream heart card holder,1008,2010-12-07 16:43:00,2.31,18102,United Kingdom,2328.48,18102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393237,533751,581110,23486,2011,12,3,12,antique heart shelf unit,150,2011-12-07 12:17:00,13.35,16000,United Kingdom,2002.50,16000
393298,533812,581115,22413,2011,12,3,12,metal sign take it or leave it,1404,2011-12-07 12:20:00,2.75,15195,United Kingdom,3861.00,15195
394417,534952,581175,23084,2011,12,3,15,rabbit night light,1440,2011-12-07 15:16:00,1.79,14646,Netherlands,2577.60,14646
395597,537883,581375,21137,2011,12,4,12,black record cover frame,960,2011-12-08 12:36:00,3.39,16210,United Kingdom,3254.40,16210
397110,540061,581457,23543,2011,12,4,18,wall art keep calm,698,2011-12-08 18:43:00,4.15,18102,United Kingdom,2896.70,18102

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [24]:
lista_95['Country'].value_counts()

Country
United Kingdom    7
Name: count, dtype: int64

In [23]:
lista_75['Country'].value_counts()

Country
United Kingdom    109
EIRE                4
Singapore           4
Japan               3
Netherlands         2
France              2
Australia           1
Name: count, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [27]:
country75=dfcom.quantile(0.75)
country = df[df["amount_spent"] >country75]
country['Country'].value_counts().head(1)

Country
United Kingdom    116
Name: count, dtype: int64